*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For debugging */
/* * {
    border: 1px dashed rgb(0, 255, 0);
} */

:root {
    --background-color: rgb(44, 46, 54);/* Previously rgb(126, 167, 145), rgb(17, 46, 56) */
    --sand-color: rgb(191, 169, 103);
    --glass-color: rgb(44, 105, 138); /* rgb(0, 111, 171) */
    --glass-inner-color: rgb(34, 76, 99); /* rgb(0, 90, 139) */
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.sand-timer-container {
    border-radius: 50%;
    width: min(98vw, 98dvh);
    height: min(98vw, 98dvh);
    position: relative;
    /* animation: rotate 1s ease-in-out; */
    cursor: pointer;
}

@keyframes rotate {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(0);
    }
}

.sand-timer-glass {
    background-color: var(--glass-color);
    position: absolute;
}

.sand-timer-glass-top {
    top: 5%;
    left: 25%;
    right: 25%;
    bottom: 55%;
    border-radius: 10% 10% 40% 40% / 10% 10% 60% 60%;

}

.sand-timer-glass-bottom {
    top: 55%;
    left: 25%;
    right: 25%;
    bottom: 5%;
    border-radius: 40% 40% 10% 10% / 60% 60% 10% 10%;
}

.sand-timer-glass-negative {
    background-color: var(--background-color);
    position: absolute;
}

.sand-timer-glass-negative-left {
    top: 42%;
    left: 12%;
    right: 55%;
    bottom: 42%;
    border-radius: 0 50% 50% 0;
}

.sand-timer-glass-negative-right {
    top: 42%;
    left: 55%;
    right: 12%;
    bottom: 42%;
    border-radius: 50% 0 0 50%;
}

.sand-timer-glass-inner {
    background-color: var(--glass-inner-color);
    position: absolute;
}

.sand-timer-glass-inner-top {
    top: 7%;
    left: 27%;
    right: 27%;
    bottom: 57%;
    border-radius: 10% 10% 40% 40% / 10% 10% 60% 60%;
    overflow: hidden;
}

.sand-timer-glass-inner-middle {
    top: 42%;
    left: 41%;
    right: 41%;
    bottom: 42%;
}

.sand-timer-glass-inner-bottom {
    top: 57%;
    left: 27%;
    right: 27%;
    bottom: 7%;
    border-radius: 40% 40% 10% 10% / 60% 60% 10% 10%;
    overflow: hidden;
}

.sand-timer-glass-inner-negative {
    background-color: var(--glass-color);
    position: absolute;
}

.sand-timer-glass-inner-negative-left {
    top: 42%;
    left: 38.4%;
    right: 52%;
    bottom: 42%;
    border-radius: 0% 100% 100% 0% / 0% 50% 50% 0%;
}

.sand-timer-glass-inner-negative-right {
    top: 42%;
    left: 52%;
    right: 38.4%;
    bottom: 42%;
    border-radius: 100% 0% 0% 100% / 50% 0% 0% 50%;
}

/**** Sand ****/

.sand-timer-sand {
    position: absolute;
    background-color: var(--sand-color);
}

/* Sand Top */
.sand-timer-sand-top {
    top: -82%;
    left: 0%;
    right: 0%;
    height: 60%;
    border-radius: 0 0 5% 5% / 0 0 12% 12%;
}

.sand-timer-sand-top-heap {
    bottom: -59%;
    left: 3%;
    right: 3%;
    height: 60%;
    clip-path: polygon(50% 80%, 0% 0%, 100% 0%);
}

.sand-timer-sand-top-heap-negative {
    position: absolute;
    top: 60%;
    left: 47%;
    width: 6%;
    height: 20%;
    background-color: var(--glass-inner-color);
}

.sand-timer-sand-top-heap-negative::after {
    content: '';
    position: absolute;
    bottom: 15%;
    left: -100%;
    width: 300%;
    height: 300%;
    border-radius: 100rem;
    background-color: var(--sand-color);
}



/* Sand Middle */
.sand-timer-middle {
    left: 0%;
    right: 0%;
}

.sand-timer-sand-middle {
    top: 101%;
    left: 0%;
    right: 0%;
    bottom: -1%;
}

.sand-timer-sand-falling {
    top: 62%;
    left: 48%;
    right: 48%;
    bottom: 30%;
    border-radius: 100rem;
    background-color: var(--sand-color);
}



/* Sand Bottom */
.sand-timer-sand-bottom {
    bottom: 0%;
    left: 0%;
    right: 0%;
    border-radius: 5% 5% 0 0  / 12% 12% 0 0;
    height: 60%;
}

.sand-timer-sand-bottom-heap {
    top: -59%;
    left: 3%;
    right: 3%;
    height: 60%;
    clip-path: polygon(50% 20%, 0% 100%, 100% 100%);
}

.sand-timer-sand-bottom-heap-negative {
    position: absolute;
    bottom: 60%;
    left: 47%;
    width: 6%;
    height: 20%;
    background-color: var(--glass-inner-color);
}

.sand-timer-sand-bottom-heap-negative::after {
    content: '';
    position: absolute;
    top: 15%;
    left: -100%;
    width: 300%;
    height: 300%;
    border-radius: 100rem;
    background-color: var(--sand-color);
}

.sand-timer-time {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    font-family: 'Nunito', monospace;
    font-variant-numeric: tabular-nums;
    font-size: min(13vw, 13vh);
    font-weight: 800;
    text-align: center;
    color: rgba(0, 0, 0, 0.302);
    
    /* color: rgb(255, 255, 255); */
    /* mix-blend-mode: difference; */
}

.sand-timer-time-bottom {
    bottom: 15%;
}

.sand-timer-time-top {
    top: 15%;
}

.sand-timer-time-remaining {
    color: rgba(255, 255, 255, 0.792);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.sand-timer-base {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 90%;
    background-color: rgb(21, 21, 28);
    border-radius: 5% 5% 5% 5% / 50% 50% 50% 50%;
}

.sand-timer-base-top {
    top: 3%;
    bottom: 91%;
}

.sand-timer-base-bottom {
    top: 91%;
    bottom: 3%;
}